In [2]:
# Import required libraries and dependencies
import pandas as pd
import numpy as np
from prophet import Prophet
import datetime as dt
import scipy.stats as sts
import hvplot.pandas

US crimes July 2016 - August 2022

In [3]:
# Read the CSV file into a `pandas` DataFrame - US Crimes Data Set
crime_df = pd.read_csv("resources/Crime.csv", low_memory=False)

# Update column names and set max columns
crime_df.columns = crime_df.columns.str.lower()
crime_df.columns = crime_df.columns.str.replace(' ', '_')
pd.set_option("display.max_columns", None)

crime_df.rename(columns={
    "dispatch_date_/_time": "dispatch_date_time"
}, inplace=True)

# Display df head and info
display(crime_df.head())
display(crime_df.info())

,incident_id,offence_code,cr_number,dispatch_date_time,nibrs_code,victims,crime_name1,crime_name2,crime_name3,police_district_name,block_address,city,state,zip_code,agency,place,sector,beat,pra,address_number,street_prefix,street_name,street_suffix,street_type,start_date_time,end_date_time,latitude,longitude,police_district_number,location
0,201202980,3550,180042096,08/23/2018 09:52:08 PM,35B,1,Crime Against Society,Drug Equipment Violations,DRUGS - NARCOTIC EQUIP - POSSESS,GERMANTOWN,12800 BLK MIDDLEBROOK RD,GERMANTOWN,MD,20874.0,MCPD,Street - In vehicle,N,5N1,447,12800.0,NaN,MIDDLEBROOK,NaN,RD,08/23/2018 09:52:00 PM,NaN,39.177744,-77.265619,5D,"(39.1777, -77.2656)"
1,201181293,3522,180015424,03/30/2018 01:00:55 AM,35A,1,Crime Against Society,Drug/Narcotic Violations,DRUGS - OPIUM OR DERIVATIVE - POSSESS,BETHESDA,8300 BLK WOODMONT AVE,BETHESDA,MD,20814.0,MCPD,Street - In vehicle,E,2E2,054,8300.0,NaN,WOODMONT,NaN,AVE,03/30/2018 01:01:00 AM,NaN,38.992693,-77.097063,2D,"(38.9927, -77.0971)"
2,201181293,3562,180015424,03/30/2018 01:00:55 AM,35A,1,Crime Against Society,Drug/Narcotic Violations,DRUGS - MARIJUANA - POSSESS,BETHESDA,8300 BLK WOODMONT AVE,BETHESDA,MD,20814.0,MCPD,Street - In vehicle,E,2E2,054,8300.0,NaN,WOODMONT,NaN,AVE,03/30/2018 01:01:00 AM,NaN,38.992693,-77.097063,2D,"(38.9927, -77.0971)"
3,201193163,3520,180029476,06/14/2018 10:26:45 PM,35A,1,Crime Against Society,Drug/Narcotic Violations,DRUGS - OPIUM OR DERIVATIVE - SELL,MONTGOMERY VILLAGE,400 BLK QUINCE ORCHARD RD,GAITHERSBURG,MD,20878.0,GPD,Hotel/Motel/Etc.,P,6P2,445,400.0,NaN,QUINCE ORCHARD,NaN,RD,06/14/2018 10:26:00 PM,06/15/2018 03:00:00 AM,39.147954,-77.218189,6D,"(39.148, -77.2182)"
4,201204355,2204,180043926,09/03/2018 12:06:54 PM,220,1,Crime Against Property,Burglary/Breaking and Entering,BURGLARY - NO FORCED ENTRY-RESIDENTIAL,BETHESDA,4800 BLK FALSTONE AVE,CHEVY CHASE,MD,20815.0,MCPD,Residence - Single Family,E,2E1,017,4800.0,NaN,FALSTONE,NaN,AVE,09/02/2018 11:30:00 PM,09/03/2018 12:30:00 AM,38.966174,-77.096561,2D,"(38.9662, -77.0966)"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306094 entries, 0 to 306093
Data columns (total 30 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   incident_id             306094 non-null  int64
 1   offence_code            306094 non-null  object
 2   cr_number               306094 non-null  int64
 3   dispatch_date_time      257065 non-null  object
 4   nibrs_code              306094 non-null  object
 5   victims                 306094 non-null  int64
 6   crime_name1             305822 non-null  object
 7   crime_name2             305822 non-null  object
 8   crime_name3             305822 non-null  object
 9   police_district_name    306000 non-null  object
 10  block_address           279888 non-null  object
 11  city                    304818 non-null  object
 12  state                   306094 non-null  object
 13  zip_code                302915 non-null  float64
 14  agency                  306094 non-null  object
 15  place                   306094 non-null  object
 16  sector                  304564 non-null  object
 17  beat                    304564 non-null  object
 18  pra                     305855 non-null  object
 19  address_number          279985 non-null  float64
 20  street_prefix           13631 non-null   object
 21  street_name             306093 non-null  object
 22  street_suffix           5432 non-null    object
 23  street_type             305755 non-null  object
 24  start_date_time         306094 non-null  object
 25  end_date_time           144436 non-null  object
 26  latitude                306094 non-null  float64
 27  longitude               306094 non-null  float64
 28  police_district_number  306094 non-null  object
 29  location                306094 non-null  object
dtypes: float64(4), int64(3), object(23)
memory usage: 70.1+ MB

None

US crime rates 1960-2014

In [4]:
# Read the CSV file into a `pandas` DataFrame - US Crime Rates 1960-2014 Data Set
us_crime_1960_2014_df = pd.read_csv("resources/US_Crime_Rates_1960_2014.csv", low_memory=False)

# Update column names and set max columns
us_crime_1960_2014_df.columns = us_crime_1960_2014_df.columns.str.lower()
us_crime_1960_2014_df.columns = us_crime_1960_2014_df.columns.str.replace(' ', '_')
pd.set_option("display.max_columns", None)

# Display df head and info
display(us_crime_1960_2014_df.head())
display(us_crime_1960_2014_df.info())

,year,population,total,violent,property,murder,forcible_rape,robbery,aggravated_assault,burglary,larceny_theft,vehicle_theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                55 non-null     int64
 1   population          55 non-null     int64
 2   total               55 non-null     int64
 3   violent             55 non-null     int64
 4   property            55 non-null     int64
 5   murder              55 non-null     int64
 6   forcible_rape       55 non-null     int64
 7   robbery             55 non-null     int64
 8   aggravated_assault  55 non-null     int64
 9   burglary            55 non-null     int64
 10  larceny_theft       55 non-null     int64
 11  vehicle_theft       55 non-null     int64
dtypes: int64(12)
memory usage: 5.3 KB

None

US juvenile arrests by crime 1995-2016

In [5]:
# Read the CSV file into a `pandas` DataFrame - US Juvenile Arrests
juvenile_arrests_df = pd.read_csv("resources/arrests_national_juvenile.csv", low_memory=False)

# Update column names and set max columns
juvenile_arrests_df.columns = juvenile_arrests_df.columns.str.lower()
juvenile_arrests_df.columns = juvenile_arrests_df.columns.str.replace(' ', '_')
pd.set_option("display.max_columns", None)

# Display df head and info
display(juvenile_arrests_df.head())
display(juvenile_arrests_df.info())

,id,year,state_abbr,offense_code,offense_name,agencies,population,total_male,total_female,m_0_9,m_10_12,m_13_14,m_15,m_16,m_17,f_0_9,f_10_12,f_13_14,f_15,f_16,f_17,race_agencies,race_population,white,black,asian_pacific_islander,american_indian
0,1081,2016,NaN,ASR_ARSON,Arson,13310,264534532,1760,328,117.0,368.0,548,291,239,197,12.0,54.0,114.0,66.0,39.0,43,12581,263887632,1436,516,41.0,48.0
1,1082,2016,NaN,ASR_AST,Aggravated Assault,13310,264534532,16997,5918,141.0,1406.0,3743,3062,3839,4806,19.0,465.0,1565.0,1171.0,1337.0,1361,12581,263887632,12370,9736,296.0,364.0
2,1083,2016,NaN,ASR_AST_SMP,Simple Assault,13310,264534532,66360,38712,1043.0,7406.0,16966,12403,14134,14408,259.0,3353.0,11210.0,8036.0,8264.0,7590,12581,263887632,59778,41923,1130.0,1378.0
3,1084,2016,NaN,ASR_BRG,Burglary,13310,264534532,23307,3071,167.0,1474.0,5301,4789,5662,5914,34.0,170.0,727.0,618.0,689.0,833,12581,263887632,14413,11082,368.0,362.0
4,1085,2016,NaN,ASR_CUR,Curfew and Loitering Law Violations,13310,264534532,19218,8319,110.0,1184.0,4160,4405,5126,4233,24.0,449.0,1991.0,1887.0,2267.0,1701,12581,263887632,15468,11045,382.0,429.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      690 non-null    int64
 1   year                    690 non-null    int64
 2   state_abbr              0 non-null      float64
 3   offense_code            690 non-null    object
 4   offense_name            690 non-null    object
 5   agencies                690 non-null    int64
 6   population              690 non-null    int64
 7   total_male              690 non-null    int64
 8   total_female            690 non-null    int64
 9   m_0_9                   654 non-null    float64
 10  m_10_12                 685 non-null    float64
 11  m_13_14                 690 non-null    int64
 12  m_15                    690 non-null    int64
 13  m_16                    690 non-null    int64
 14  m_17                    690 non-null    int64
 15  f_0_9                   594 non-null    float64
 16  f_10_12                 651 non-null    float64
 17  f_13_14                 681 non-null    float64
 18  f_15                    684 non-null    float64
 19  f_16                    687 non-null    float64
 20  f_17                    690 non-null    int64
 21  race_agencies           690 non-null    int64
 22  race_population         690 non-null    int64
 23  white                   690 non-null    int64
 24  black                   690 non-null    int64
 25  asian_pacific_islander  678 non-null    float64
 26  american_indian         661 non-null    float64
dtypes: float64(10), int64(15), object(2)
memory usage: 145.7+ KB

None

Inflation rates by country 1970-2022

In [7]:
# Read the CSV file into a `pandas` DataFrame - Global Inflation Dataset (1970-2022)
inflation_df = pd.read_csv("resources/Global Dataset of Inflation.csv", encoding="ISO-8859-1",  low_memory=False)

# Update column names and set max columns
inflation_df.columns = inflation_df.columns.str.lower()
inflation_df.columns = inflation_df.columns.str.replace(' ', '_')
pd.set_option("display.max_columns", None)

# Display df head and info
display(inflation_df.head())
display(inflation_df.info())

,country_code,imf_country_code,country,indicator_type,series_name,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,note,unnamed:_59,unnamed:_60,unnamed:_61,unnamed:_62,unnamed:_63
0,ABW,314.0,Aruba,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.20,3.00,1.88,2.28,4.05,2.89,3.32,3.66,2.53,3.40,3.61,5.39,8.96,-2.14,2.08,4.32,0.63,-2.37,0.42,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.04,Annual average inflation,NaN,NaN,NaN,NaN,NaN
1,AFG,512.0,Afghanistan,Inflation,Headline Consumer Price Inflation,25.51,25.51,-12.52,-10.68,10.23,11.85,0.60,7.65,5.00,9.90,13.40,22.20,18.20,15.90,20.40,8.70,-2.10,18.40,27.50,71.50,47.40,43.80,58.19,33.99,20.01,14.00,14.01,14.01,14.01,14.01,0.00,-43.40,51.93,35.66,16.36,10.57,6.78,8.68,26.42,-6.81,2.18,11.80,6.44,7.39,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,NaN,Annual average inflation,NaN,NaN,NaN,NaN,NaN
2,AGO,614.0,Angola,Inflation,Headline Consumer Price Inflation,7.97,5.78,15.80,15.67,27.42,29.00,80.70,69.01,48.46,101.30,46.71,1.39,1.83,1.83,1.83,1.83,1.83,1.83,1.83,1.83,1.83,85.26,299.10,1379.48,949.77,2672.23,4146.01,221.49,107.43,248.25,325.03,152.59,108.89,98.22,43.53,22.96,13.31,12.25,12.47,13.72,14.48,13.48,10.28,8.78,7.30,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.35,Annual average inflation,NaN,NaN,NaN,NaN,NaN
3,ALB,914.0,Albania,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.18,35.72,226.00,85.00,22.57,7.75,12.80,33.21,20.55,0.40,0.03,3.10,5.18,2.38,2.83,2.36,2.41,2.91,3.41,2.29,3.57,3.41,2.03,1.93,1.62,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.73,Annual average inflation,NaN,NaN,NaN,NaN,NaN
4,ARE,466.0,United Arab Emirates,Inflation,Headline Consumer Price Inflation,21.98,21.98,21.98,21.98,21.98,21.98,21.98,21.97,13.04,10.99,10.07,7.95,7.08,1.30,2.43,3.50,5.43,5.50,4.99,2.79,0.60,3.40,6.38,5.27,5.70,4.33,2.98,2.97,1.99,2.10,1.35,2.80,2.92,3.12,5.04,6.20,9.28,11.13,12.27,1.57,0.88,0.88,0.66,1.09,2.34,4.07,1.62,1.97,3.06,-1.93,-2.08,0.18,5.22,Annual average inflation,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 783 entries, 0 to 782
Data columns (total 64 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country_code      783 non-null    object
 1   imf_country_code  781 non-null    float64
 2   country           783 non-null    object
 3   indicator_type    783 non-null    object
 4   series_name       783 non-null    object
 5   1970              422 non-null    float64
 6   1971              428 non-null    float64
 7   1972              430 non-null    float64
 8   1973              430 non-null    float64
 9   1974              434 non-null    float64
 10  1975              434 non-null    float64
 11  1976              430 non-null    float64
 12  1977              427 non-null    float64
 13  1978              428 non-null    float64
 14  1979              428 non-null    float64
 15  1980              433 non-null    float64
 16  1981              451 non-null    float64
 17  1982              458 non-null    float64
 18  1983              464 non-null    float64
 19  1984              470 non-null    float64
 20  1985              466 non-null    float64
 21  1986              475 non-null    float64
 22  1987              482 non-null    float64
 23  1988              485 non-null    float64
 24  1989              483 non-null    float64
 25  1990              489 non-null    float64
 26  1991              507 non-null    float64
 27  1992              519 non-null    float64
 28  1993              536 non-null    float64
 29  1994              552 non-null    float64
 30  1995              559 non-null    float64
 31  1996              570 non-null    float64
 32  1997              575 non-null    float64
 33  1998              584 non-null    float64
 34  1999              591 non-null    float64
 35  2000              596 non-null    float64
 36  2001              610 non-null    float64
 37  2002              625 non-null    float64
 38  2003              629 non-null    float64
 39  2004              634 non-null    float64
 40  2005              646 non-null    float64
 41  2006              661 non-null    float64
 42  2007              671 non-null    float64
 43  2008              680 non-null    float64
 44  2009              686 non-null    float64
 45  2010              693 non-null    float64
 46  2011              687 non-null    float64
 47  2012              696 non-null    float64
 48  2013              715 non-null    float64
 49  2014              734 non-null    float64
 50  2015              735 non-null    float64
 51  2016              746 non-null    float64
 52  2017              737 non-null    float64
 53  2018              737 non-null    float64
 54  2019              728 non-null    float64
 55  2020              719 non-null    float64
 56  2021              706 non-null    float64
 57  2022              665 non-null    float64
 58  note              783 non-null    object
 59  unnamed:_59       19 non-null     object
 60  unnamed:_60       0 non-null      float64
 61  unnamed:_61       0 non-null      float64
 62  unnamed:_62       0 non-null      float64
 63  unnamed:_63       0 non-null      float64
dtypes: float64(58), object(6)
memory usage: 391.6+ KB

None

In [8]:
# Sort values and display tail
inflation_df.sort_values("country", inplace=True)
inflation_df.tail(50)

,country_code,imf_country_code,country,indicator_type,series_name,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,note,unnamed:_59,unnamed:_60,unnamed:_61,unnamed:_62,unnamed:_63
540,UGA,746.0,Uganda,Inflation,Food Consumer Price Inflation,13.200000,24.70,-5.50,18.60,75.50,23.50,62.00,79.50,NaN,NaN,NaN,NaN,NaN,38.50,41.80,174.80,128.40,197.00,197.10,NaN,19.20,23.90,65.30,-4.00,15.90,4.60,6.60,18.10,-2.00,6.90,1.00,-0.66,3.24,-0.21,-3.07,-6.87,5.94,2.66,19.85,25.25,2.66,29.26,13.61,2.25,3.82,7.43,5.53,10.10,-1.19,-0.20,1.76,0.67,12.64,Food and non-acoholic beverage,NaN,NaN,NaN,NaN,NaN
541,UKR,926.0,Ukraine,Inflation,Food Consumer Price Inflation,0.000000,0.40,0.20,0.10,0.50,0.10,-0.10,0.00,1.10,0.60,0.90,1.20,2.90,1.00,-0.20,1.80,4.70,4.70,-0.10,0.60,NaN,NaN,NaN,5414.10,799.20,355.90,58.30,11.60,11.80,27.80,34.50,14.40,0.00,6.20,11.30,16.60,5.31,9.64,35.68,11.94,10.88,6.42,-2.13,-2.16,12.05,45.92,8.96,12.88,11.15,8.00,2.74,10.79,25.26,Food and non-acoholic beverage,NaN,NaN,NaN,NaN,NaN
180,UKR,926.0,Ukraine,Inflation,Headline Consumer Price Inflation,0.200000,-0.20,-0.10,0.00,0.10,0.10,0.00,0.40,0.80,1.10,1.30,1.00,2.80,0.70,-0.90,0.30,1.50,1.50,-0.10,2.20,2.20,2.20,2.20,4660.58,861.05,376.02,77.82,15.62,10.66,22.83,28.26,11.91,0.72,5.22,9.03,13.53,9.09,12.89,25.20,15.86,9.33,7.95,0.59,-0.23,12.15,48.57,13.95,14.44,10.94,7.89,2.73,9.36,20.18,Annual average inflation,NaN,NaN,NaN,NaN,NaN
361,UKR,926.0,Ukraine,Inflation,Energy Consumer Price Inflation,35.050000,35.05,35.05,35.05,89.00,73.40,61.40,54.70,32.00,55.50,60.80,17.60,19.30,74.70,62.60,72.20,60.60,65.06,67.15,82.75,105.85,101.10,73.77,61.73,55.82,45.39,33.33,22.88,12.55,6.48,4.57,4.07,11.41,20.79,9.56,6.14,8.13,8.86,11.16,10.70,8.85,10.32,9.24,10.70,9.03,8.11,9.20,8.58,6.06,5.91,-2.98,23.16,5.01,"Housing, Water, Electricity, Gas & Other Fuel",NaN,NaN,NaN,NaN,NaN
774,UKR,926.0,Ukraine,Inflation,Producer Price Inflation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14400.00,1140.00,488.10,51.83,7.67,13.20,31.13,20.86,8.65,3.05,7.71,20.32,16.71,9.49,19.48,35.56,6.59,20.88,19.00,3.65,-0.05,17.17,35.69,20.92,26.45,17.58,4.14,-1.88,40.82,61.05,"Producer Price Index, All Commodities",NaN,NaN,NaN,NaN,NaN
663,UKR,926.0,Ukraine,Inflation,Official Core Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.41,8.59,7.70,3.32,0.23,9.86,40.39,11.00,7.33,9.09,6.77,3.30,6.87,14.62,All Items Excluding Food and Energy,NaN,NaN,NaN,NaN,NaN
379,ARE,466.0,United Arab Emirates,Inflation,Food Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.50,0.79,4.45,5.86,5.24,2.69,2.17,1.24,1.01,1.20,3.54,-1.39,3.70,0.00,NaN,Food and non-acoholic beverage,NaN,NaN,NaN,NaN,NaN
206,ARE,466.0,United Arab Emirates,Inflation,Energy Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.17,0.45,-0.30,-2.42,-2.58,0.25,3.12,8.81,3.56,0.87,-3.09,-5.20,-3.67,-3.65,NaN,Energy,NaN,NaN,NaN,NaN,NaN
4,ARE,466.0,United Arab Emirates,Inflation,Headline Consumer Price Inflation,21.980000,21.98,21.98,21.98,21.98,21.98,21.98,21.97,13.04,10.99,10.07,7.95,7.08,1.30,2.43,3.50,5.43,5.50,4.99,2.79,0.60,3.40,6.38,5.27,5.70,4.33,2.98,2.97,1.99,2.10,1.35,2.80,2.92,3.12,5.04,6.20,9.28,11.13,12.27,1.57,0.88,0.88,0.66,1.09,2.34,4.07,1.62,1.97,3.06,-1.93,-2.08,0.18,5.22,Annual average inflation,NaN,NaN,NaN,NaN,NaN
62,GBR,112.0,United Kingdom,Inflation,Headline Consumer Price Inflation,6.370000,9.44,7.07,9.20,16.04,24.21,16.56,15.84,8.26,13.42,17.97,11.88,8.60,4.61,4.96,6.07,3.43,4.15,4.21,5.81,8.04,7.44,4.56,2.58,2.20,2.62,2.85,2.19,1.86,1.82,1.10,1.63,1.47,1.32,1.43,2.06,2.52,2.33,3.48,1.97,2.50,3.88,2.56,2.29,1.43,0.40,1.00,2.68,2.32,1.79,0.99,2.50,7.90,Annual average inflation,NaN,NaN,NaN,NaN,NaN
434,GBR,112.0,United Kingdom,Inflation,Food Consumer Price Inflation,6.900000,11.47,8.92,15.37,18.02,24.97,19.85,18.79,7.81,12.62,13.56,8.69,7.76,3.67,5.88,4.02,3.33,3.13,3.37,5.62,8.06,5.28,2.14,1.66,0.86,3.65,3.16,-0.17,1.03,0.25,-0.48,3.76,0.82,1.29,0.79,1.52,2.40,4.51,9.16,5.47,3.42,5.50,3.25,3.73,-0.19,-2.58,-2.38,2.25,2.08,10.93,0.72,0.30,10.35,Food and non-acoholic beverage,NaN,NaN,NaN,NaN,NaN
586,GBR,112.0,United Kingdom,Inflation,Official Core Consumer Price Inflation,-3.413560,9.11,6.83,8.62,13.83,22.05,15.50,15.50,9.60,13.21,18.23,11.11,8.21,4.42,5.22,6.86,4.53,4.80,5.59,8.30,9.70,5.79,4.11,1.39,2.51,3.33,2.15,1.88,1.44,0.74,0.08,1.07,1.48,1.28,1.07,1.44,1.70,1.90,1.90,1.60,2.00,2.80,2.10,1.90,1.60,1.30,1.60,2.30,1.90,1.70,1.50,2.30,5.26,All Items Excluding ex Reg Pr & Fuel for Veh &...,NaN,NaN,NaN,NaN,NaN
260,GBR,112.0,United Kingdom,Inflation,Energy Consumer Price Inflation,5.700000,10.40,7.80,2.80,26.40,33.20,23.70,15.80,7.70,10.10,25.00,21.30,14.00,7.40,2.90,8.60,-2.70,-0.10,2.50,7.33,10.92,8.11,5.68,2.80,3.33,3.15,4.03,2.98,2.28,2.83,2.12,2.61,2.40,1.61,2.12,3.29,4.67,3.41,4.70,2.18,-0.36,2.71,2.72,2.35,2.00,1.25,1.68,2.04,1.86,2.08,0.88,9.11,46.18,"Housing, Water, Electricity, Gas & Other Fuel",NaN,NaN,NaN,NaN,NaN
705,GBR,112.0,United Kingdom,Inflation,Producer Price Inflation,7.050000,9.01,5.17,7.49,22.28,22.91,16.51,18.95,8.99,11.82,15.91,10.72,8.52,6.50,5.94,6.22,1.33,3.43,3.68,4.78,6.25,5.34,3.12,3.96,2.50,4.02,2.67,0.97,0.07,0.54,0.37,0.13,-0.40,0.20,2.59,7.90,6.42,1.60,14.73,-0.61,4.79,9.13,2.36,3.25,-7.37,-6.64,1.97,6.11,3.70,0.82,-0.06,5.04,17.17,"Producer Price Index, All Commodities",NaN,NaN,NaN,NaN,NaN
665,USA,111.0,United States,Inflation,Official Core Consumer Price Inflation,6.245934,4.69,3.06,3.48,8.24,9.22,6.57,6.25,7.31,9.74,12.42,10.47,7.40,3.93,4.94,4.38,4.04,4.12,4.41,4.50,5.03,4.91,3.66,3.30,2.85,2.99,2.70,2.39,2.29,2.08,2.43,2.67,2.32,1.46,1.76,2.17,2.50,2.34,2.30,1.70,0.96,1.66,2.11,1.76,1.75,1.83,2.21,1.84,2.14,2.19,1.70,3.57,6.22,All Items Excluding Food and Energy,NaN,NaN,NaN,NaN,NaN
776,USA,111.0,United States,Inflation,Producer Price Inflation,3.610000,3.33,4.41,13.14,18.81,9.25,4.65,6.13,7.77,12.54,14.13,9.13,2.01,1.26,2.38,-0.43,-2.89,2.64,4.02,4.96,3.56,0.22,0.59,1.46,1.30,3.58,2.34,-0.07,-2.48,0.84,5.78,1.11,-2.29,5.35,6.18,7.32,4.67,4.80,9.81,-8.84,4.48,3.87,1.86,1.36,1.58,-0.87,0.42,2.33,2.90,1.69,-2.12,8.95,7.91,"Producer Price Index, All Commodities",NaN,NaN,NaN,NaN,NaN
543,USA,111.0,United States,Inflation,Food Consumer Price Inflation,5.400000,3.07,4.13,13.29,13.76,8.44,3.09,5.96,9.77,10.71,8.56,7.77,4.07,2.23,3.76,2.33,3.26,4.07,4.13,5.67,5.76,3.56,1.38,2.09,2.32,2.76,3.25,2.62,2.12,2.15,2.31,3.09,1.84,2.14,3.37,2.43,2.35,3.91,5.37,1.88,0.79,3.58,2.55,1.41,2.31,1.80,0.34,0.88,1.40,0.89,3.51,3.47,11.35,Food and non-acoholic beverage,NaN,NaN,NaN,NaN,NaN
182,USA,111.0,United States,Inflation,Headline Consumer Price Inflation,5.900000,4.29,3.27,6.18,11.05,9.14,5.74,6.50,7.63,11.25,13.55,10.33,6.13,3.21,4.30,3.55,1.90,3.66,4.08,4.83,5.40,4.23,3.03,2.95,2.61,2.81,2.93,2.34,1.55,2.19,3.38,2.83,1.59,2.27,2.68,3.39,3.23,2.85,3.84,-0.36,1.64,3.16,2.07,1.46,1.62,0.12,1.26,2.14,2.44,1.81,1.23,4.70,8.00,Annual average inflation,NaN,NaN,NaN,NaN,NaN
363,USA,111.0,United States,Inflation,Energy Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.97,2.33,16.90,7.10,25.60,21.27,2.59,21.01,27.12,"Housing, Water, Electricity, Gas & Other Fuel",NaN,NaN,NaN,NaN,NaN
362,URY,298.0,Uruguay,Inflation,Energy Consumer Price Inflation,6.900000,4.45,3.88,4.35,11.23,10.55,6.14,6.82,8.75,12.20,15.69,11.51,7.21,2.67,4.16,3.96,2.96,3.04,3.70,3.80,4.51,3.93,2.91,2.72,2.51,2.53,2.93,2.62,2.29,2.20,3.46,4.00,2.22,2.52,2.57,3.26,3.80,3.16,3.18,0.37,-0.37,1.32,1.65,2.08,2.58,2.08,2.48,2.97,2.89,-2.11,7.18,7.95,7.09,Energy,NaN,NaN,NaN,NaN,NaN
542,URY,298.0,Uruguay,Inflation,Food Consumer Price Inflation,11.700000,24.50,93.80,NaN,72.50,70.90,47.60,64.00,44.50,70.90,57.90,25.60,11.70,54.10,68.80,63.00,NaN,59.60,57.90,80.60,120.60,85.40,60.00,51.40,40.60,41.50,23.60,18.40,10.50,2.82,6.27,3.02,15.03,22.53,11.39,3.04,5.64,16.15,13.70,5.20,5.99,9.54,8.39,10.68,10.42,9.47,9.62,2.81,8.34,8.76,13.76,6.80,10.95,Food and non-acoholic beverage,NaN,NaN,NaN,NaN,NaN
181,URY,298.0,Uruguay,Inflation,Headline Consumer Price Inflation,16.310000,23.95,76.48,97.00,77.21,81.41,50.62,58.20,44.55,66.84,63.47,34.05,18.99,49.20,55.31,72.22,76.38,61.13,63.07,80.89,112.18,102.09,68.47,54.10,44.75,42.26,28.33,19.83,10.80,5.66,4.76,4.37,13.96,19.40,9.16,4.70,6.39,8.11,7.88,7.06,6.70,8.10,8.10,8.58,8.88,8.67,9.63,6.22,7.61,7.88,9.76,7.75,9.11,Annual average inflation,NaN,NaN,NaN,NaN,NaN
664,URY,298.0,Uruguay,Inflation,Official Core Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.05,8.38,22.12,-18.17,9.09,14.12,-0.48,-2.55,-4.27,-12.82,-10.99,NaN,NaN,NaN,NaN,NaN,NaN,All Items Excluding Food and Energy,NaN,NaN,NaN,NaN,NaN
775,URY,298.0,Uruguay,Inflation,Producer Price Inflation,13.410000,21.18,89.84,114.35,79.02,72.38,50.57,50.33,48.58,80.41,41.74,23.45,12.90,73.48,77.38,76.57,67.17,63.22,57.44,73.18,107.68,87.62,58.32,33.37,34.20,37.71,25.02,16.36,9.29,-0.88,6.84,6.58,31.93,38.92,14.69,-2.57,5.92,11.81,16.94,2.11,7.61,15.93,6.43,3.94,10.41,6.83,3.35,1.67,9.67,12.78,10.46,14.42,14.19,"Producer Price Index, All Commodities",NaN,NaN,NaN,NaN,NaN
544,UZB,927.0,Uzbekistan,Inflation,Food Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.30,15.90,14.90,NaN,NaN,14.42,14.90,Food and non-acoholic beverage,NaN,NaN,NaN,NaN,NaN
183,UZB,927.0,Uzbekistan,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,645.15,534.18,1568.33,304.60,53.96,70.86,28.98,29.10,25.01,27.25,27.29,12.49,7.32,10.70,13.11,11.15,13.13,12.30,12.30,12.45,11.90,11.70,9.08,8.46,7.98,13.88,17.68,14.53,12.86,10.69,11.32,Annual average inflation,NaN,NaN,NaN,NaN,NaN
777,UZB,927.0,Uzbekistan,Inflation,Producer Price Inflation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.29,17.42,31.70,43.35,14.80,9.32,16.34,"Producer Price Index, All Commodities",NaN,NaN,NaN,NaN,NaN
549,VUT,846.0,Vanuatu,Inflation,Food Consumer Price Inflation,1.700000,8.00,10.80,7.60,35.60,2.10,1.80,2.80,9.90,1.60,12.50,35.20,1.80,-3.20,1.90,-2.30,5.90,13.00,11.00,4.10,1.60,2.70,1.00,4.40,0.60,4.10,-1.10,0.70,3.30,1.40,2.00,2.20,0.50,2.20,3.40,-0.50,3.50,3.80,8.00,7.10,4.60,0.47,1.61,1.50,1.68,3.61,2.25,6.81,4.13,5.40,6.74,4.63,NaN,Food and non-acoholic beverage,NaN,NaN,NaN,NaN,NaN
368,VUT,846.0,Vanuatu,Inflation,Energy Consumer Price Inflation,1.400000,3.40,10.50,4.70,18.90,2.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.50,-0.36,2.24,0.02,1.84,-2.65,0.06,1.59,0.76,-0.04,-0.59,NaN,"Housing, Water, Electricity, Gas & Other Fuel",NaN,NaN,NaN,NaN,NaN
187,VUT,846.0,Vanuatu,Inflation,Headline Consumer Price Inflation,1.500000,6.50,8.80,6.40,29.10,3.70,0.29,4.73,6.69,3.39,11.24,26.85,6.67,1.65,5.52,1.07,4.77,16.04,8.76,7.75,4.76,6.47,4.06,3.57,2.30,2.23,0.93,2.81,2.33,3.23,2.53,3.58,1.96,3.02,1.42,1.20,2.04,3.93,4.84,4.30,2.76,0.87,1.35,1.46,0.80,2.48,0.84,3.09,2.31,2.75,2.92,2.34,4.58,Annual average inflation,NaN,NaN,NaN,NaN,NaN
778,VEN,299.0,"Venezuela, RB",Inflation,Producer Price Inflation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.00,33.33,NaN,41.67,26.47,60.47,142.03,291.62,905.66,169201.78,NaN,NaN,NaN,NaN,"Producer Price Index, All Commodities",NaN,NaN,NaN,NaN,NaN
185,VEN,299.0,"Venezuela, RB",Inflation,Headline Consumer Price Inflation,2.490000,3.24,2.81,4.11,8.28,10.30,7.58,7.76,7.18,12.32,21.59,16.00,9.67,6.32,11.57,11.39,11.55,28.12,29.49,84.36,40.72,34.20,31.41,38.12,60.80,59.96,99.82,50.10,35.78,23.58,16.21,12.53,22.43,31.09,21.75,15.95,13.65,18.70,30.37,27.07,28.17,26.08,21.06,40.59,62.14,121.40,254.39,438.12,65374.08,19906.02,2355.15,1588.51,220.84,Annual average inflation,NaN,NaN,NaN,NaN,NaN
666,VEN,299.0,"Venezuela, RB",Inflation,Official Core Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.50,78.79,22.03,22.22,14.77,35.64,81.75,51.00,112.77,22.25,15.54,11.59,9.91,7.43,53.79,55.15,29.19,12.61,8.14,13.94,18.97,30.69,28.73,27.90,22.25,43.01,38.23,147.51,385.91,NaN,NaN,NaN,NaN,NaN,NaN,"All Items Excluding Fruits, Vegetables, Taxed ...",NaN,NaN,NaN,NaN,NaN
365,VEN,299.0,"Venezuela, RB",Inflation,Energy Consumer Price Inflation,0.000000,0.00,0.00,0.00,0.10,0.60,0.60,0.60,0.80,23.00,4.40,23.60,3.80,3.80,19.10,8.70,0.10,17.60,15.90,69.10,42.70,25.40,2.00,66.90,77.50,36.50,60.50,100.40,61.80,26.40,19.67,17.03,16.08,12.85,9.62,7.24,6.80,6.55,8.75,12.08,13.68,12.14,9.83,12.10,16.37,22.12,2.50,109.58,94802.37,17687.47,1.79,1137.51,164.09,"Housing, Water, Electricity, Gas & Other Fuel",NaN,NaN,NaN,NaN,NaN
546,VEN,299.0,"Venezuela, RB",Inflation,Food Consumer Price Inflation,1.400000,3.50,4.90,7.60,12.70,14.70,8.80,12.40,9.30,16.60,33.10,18.50,9.70,7.80,17.20,22.40,19.20,41.50,39.90,125.80,47.20,37.70,30.50,33.30,58.20,59.90,88.10,46.10,38.80,16.90,10.59,16.20,28.31,37.61,33.81,21.14,20.07,26.83,42.82,27.96,32.97,29.92,24.80,54.15,86.73,218.67,217.74,482.70,38386.00,17710.79,2220.00,1934.56,193.71,Food and non-acoholic beverage,NaN,NaN,NaN,NaN,NaN
667,VNM,582.0,Vietnam,Inflation,Official Core Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.78,13.62,8.19,4.77,3.31,2.05,1.83,1.41,1.48,2.01,2.31,0.81,2.39,"All Items Excluding Housing, Water, Electricit...",NaN,NaN,NaN,NaN,NaN
186,VNM,582.0,Vietnam,Inflation,Headline Consumer Price Inflation,36.800000,18.20,25.30,44.40,55.00,4.98,4.98,4.98,4.07,4.04,25.16,69.60,95.40,49.49,64.90,91.60,453.54,360.36,374.35,95.77,36.03,81.82,37.71,8.38,9.49,16.93,5.59,3.10,8.11,4.11,-1.77,-0.31,4.08,3.23,7.76,8.28,7.40,8.31,23.11,6.73,9.20,18.67,9.07,6.58,4.09,0.64,2.68,3.52,3.54,2.80,3.22,1.83,3.16,Annual average inflation,NaN,NaN,NaN,NaN,NaN
779,VNM,582.0,Vietnam,Inflation,Producer Price Inflation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.63,18.43,3.44,5.25,3.26,-0.59,-0.61,NaN,NaN,NaN,NaN,NaN,NaN,"Producer Price Index, All Commodities",NaN,NaN,NaN,NaN,NaN
367,VNM,582.0,Vietnam,Inflation,Energy Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.86,8.06,6.45,7.00,9.01,11.09,20.54,3.82,17.02,19.72,10.51,4.70,3.74,-1.62,2.40,4.29,3.31,3.04,0.63,1.76,2.45,"Housing, Water, Electricity, Gas & Other Fuel",NaN,NaN,NaN,NaN,NaN
548,VNM,582.0,Vietnam,Inflation,Food Consumer Price Inflation,35.300000,13.80,29.10,47.00,48.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.70,0.60,9.80,4.20,-3.80,-1.40,7.60,2.51,12.52,11.08,8.68,11.23,36.89,8.46,11.41,26.69,7.90,2.69,4.00,1.48,2.61,-1.08,3.24,4.07,9.44,0.73,1.96,Food and non-acoholic beverage,NaN,NaN,NaN,NaN,NaN
145,PSE,488.0,West Bank and Gaza,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.09,5.58,5.54,2.80,1.22,5.71,4.40,3.00,4.11,3.84,1.86,9.89,2.75,3.75,2.88,2.78,1.72,1.73,1.43,-0.22,0.21,-0.20,1.58,-0.74,1.24,NaN,Annual average inflation,NaN,NaN,NaN,NaN,NaN
551,YEM,474.0,"Yemen, Rep.",Inflation,Food Consumer Price Inflation,6.000000,7.50,4.40,24.40,23.00,7.70,2.60,1.00,2.00,12.10,9.90,5.50,8.90,3.40,1.00,0.30,0.70,3.60,-0.30,NaN,NaN,39.50,30.50,38.50,60.30,55.90,31.00,2.90,5.50,10.40,5.30,15.70,4.80,16.70,19.00,18.80,34.80,18.00,NaN,2.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Food and non-acoholic beverage,NaN,NaN,NaN,NaN,NaN
189,YEM,474.0,"Yemen, Rep.",Inflation,Headline Consumer Price Inflation,5.000000,5.70,4.50,16.40,23.70,12.00,3.70,5.20,2.90,13.80,10.00,3.80,9.50,10.70,1.50,5.10,0.80,2.80,0.00,18.00,36.00,44.91,51.20,61.75,71.28,63.89,38.78,4.64,11.54,7.91,10.96,11.92,12.24,10.83,12.49,9.87,10.85,7.91,18.98,3.67,11.17,19.54,9.89,10.97,8.10,39.40,5.00,30.40,27.60,10.00,26.18,45.70,43.85,Annual average inflation,NaN,NaN,NaN,NaN,NaN
191,ZMB,754.0,Zambia,Inflation,Headline Consumer Price Inflation,2.600000,6.04,5.06,6.46,8.10,10.13,18.80,19.78,16.37,9.66,11.73,14.00,12.49,19.69,20.02,37.43,54.80,47.03,54.04,128.29,89.86,103.20,160.60,182.73,53.93,34.84,43.27,24.34,24.62,26.75,26.07,21.24,22.30,21.31,17.96,18.30,9.06,10.64,12.44,13.38,8.50,6.44,6.59,6.99,7.82,10.11,17.86,6.58,7.49,9.80,15.73,22.02,10.99,Annual average inflation,NaN,NaN,NaN,NaN,NaN
371,ZMB,754.0,Zambia,Inflation,Energy Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-98.70,92.30,212.00,121.80,270.50,56.00,41.90,41.30,35.80,29.70,29.10,29.70,20.50,15.70,21.10,NaN,NaN,NaN,NaN,NaN,NaN,18.24,12.45,5.18,8.44,9.73,7.59,5.40,10.90,11.31,5.69,18.82,18.48,12.81,"Housing, Water, Electricity, Gas & Other Fuel",NaN,NaN,NaN,NaN,NaN
553,ZMB,754.0,Zambia,Inflation,Food Consumer Price Inflation,6.600000,6.60,9.20,7.40,12.10,11.40,22.90,15.50,14.30,6.50,13.30,12.80,24.10,19.80,16.70,36.20,54.50,62.10,62.40,136.30,98.80,89.30,156.20,176.00,51.10,35.20,42.50,21.40,24.60,22.60,22.60,18.90,27.10,22.10,16.40,18.60,4.90,5.30,13.80,14.20,5.20,4.83,7.01,6.52,7.25,11.08,21.26,5.76,7.14,10.44,16.24,27.71,15.68,Food and non-acoholic beverage,NaN,NaN,NaN,NaN,NaN
782,ZMB,754.0,Zambia,Inflation,Producer Price Inflation,14.290000,0.00,4.17,12.00,10.71,16.13,16.67,26.19,18.87,17.46,17.57,5.75,13.04,23.08,24.22,38.36,106.82,101.32,4.80,91.98,117.04,93.03,131.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Producer Price Index, All Commodities",NaN,NaN,NaN,NaN,NaN
554,ZWE,698.0,Zimbabwe,Inflation,Food Consumer Price Inflation,3.200000,2.50,5.00,3.40,10.70,8.30,8.90,9.90,11.70,11.30,9.50,13.40,11.40,20.40,20.80,9.10,12.20,15.90,9.80,14.40,18.00,25.00,57.50,38.80,25.80,27.60,26.90,17.60,39.40,68.00,48.90,60.20,135.10,386.40,369.50,223.90,1034.20,7375.30,7375.30,-15.08,3.83,3.99,4.62,1.69,-3.12,-3.34,-3.26,2.50,14.59,86.12,601.02,105.80,63.31,Food and non-acoholic beverage,NaN,NaN,NaN,NaN,NaN
192,ZWE,698.0,Zimbabwe,Inflation,Headline Consumer Price Inflation,2.090000,3.02,2.85,3.11,6.60,10.01,10.95,10.30,5.66,18.15,5.40,5.56,0.59,-8.45,-1.86,-16.01,10.67,12.78,-1.06,-3.85,1.35,-13.14,-3.00,0.38,-2.76,15.23,6.01,-0.96,-28.02,-13.43,4.47,-37.20,-34.44,-8.56,113.57,-31.52,32.97,-72.73,156.96,6.22,3.05,3.47,3.72,1.63,-0.21,-2.41,-1.57,0.91,10.61,255.29,557.21,98.55,284.94,Annual average inflation,NaN,NaN,NaN,NaN,NaN

In [9]:
# Create US inflation df and display
inflation_us = inflation_df.loc[inflation_df["country_code"] == "USA"]
inflation_us

,country_code,imf_country_code,country,indicator_type,series_name,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,note,unnamed:_59,unnamed:_60,unnamed:_61,unnamed:_62,unnamed:_63
665,USA,111.0,United States,Inflation,Official Core Consumer Price Inflation,6.245934,4.69,3.06,3.48,8.24,9.22,6.57,6.25,7.31,9.74,12.42,10.47,7.40,3.93,4.94,4.38,4.04,4.12,4.41,4.50,5.03,4.91,3.66,3.30,2.85,2.99,2.70,2.39,2.29,2.08,2.43,2.67,2.32,1.46,1.76,2.17,2.50,2.34,2.30,1.70,0.96,1.66,2.11,1.76,1.75,1.83,2.21,1.84,2.14,2.19,1.70,3.57,6.22,All Items Excluding Food and Energy,NaN,NaN,NaN,NaN,NaN
776,USA,111.0,United States,Inflation,Producer Price Inflation,3.610000,3.33,4.41,13.14,18.81,9.25,4.65,6.13,7.77,12.54,14.13,9.13,2.01,1.26,2.38,-0.43,-2.89,2.64,4.02,4.96,3.56,0.22,0.59,1.46,1.30,3.58,2.34,-0.07,-2.48,0.84,5.78,1.11,-2.29,5.35,6.18,7.32,4.67,4.80,9.81,-8.84,4.48,3.87,1.86,1.36,1.58,-0.87,0.42,2.33,2.90,1.69,-2.12,8.95,7.91,"Producer Price Index, All Commodities",NaN,NaN,NaN,NaN,NaN
543,USA,111.0,United States,Inflation,Food Consumer Price Inflation,5.400000,3.07,4.13,13.29,13.76,8.44,3.09,5.96,9.77,10.71,8.56,7.77,4.07,2.23,3.76,2.33,3.26,4.07,4.13,5.67,5.76,3.56,1.38,2.09,2.32,2.76,3.25,2.62,2.12,2.15,2.31,3.09,1.84,2.14,3.37,2.43,2.35,3.91,5.37,1.88,0.79,3.58,2.55,1.41,2.31,1.80,0.34,0.88,1.40,0.89,3.51,3.47,11.35,Food and non-acoholic beverage,NaN,NaN,NaN,NaN,NaN
182,USA,111.0,United States,Inflation,Headline Consumer Price Inflation,5.900000,4.29,3.27,6.18,11.05,9.14,5.74,6.50,7.63,11.25,13.55,10.33,6.13,3.21,4.30,3.55,1.90,3.66,4.08,4.83,5.40,4.23,3.03,2.95,2.61,2.81,2.93,2.34,1.55,2.19,3.38,2.83,1.59,2.27,2.68,3.39,3.23,2.85,3.84,-0.36,1.64,3.16,2.07,1.46,1.62,0.12,1.26,2.14,2.44,1.81,1.23,4.70,8.00,Annual average inflation,NaN,NaN,NaN,NaN,NaN
363,USA,111.0,United States,Inflation,Energy Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.97,2.33,16.90,7.10,25.60,21.27,2.59,21.01,27.12,"Housing, Water, Electricity, Gas & Other Fuel",NaN,NaN,NaN,NaN,NaN

Unenployment rate by country 1991-2021

In [10]:
# Read the CSV file into a `pandas` DataFrame - Unemployment
unemployment_df = pd.read_csv("resources/unemployment analysis.csv", low_memory=False)

# Update column names and set max columns
unemployment_df.columns = unemployment_df.columns.str.lower()
unemployment_df.columns = unemployment_df.columns.str.replace(' ', '_')
pd.set_option("display.max_columns", None)

# Display df head and info
display(unemployment_df.head())
display(unemployment_df.info())

,country_name,country_code,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Africa Eastern and Southern,AFE,7.80,7.84,7.85,7.84,7.83,7.84,7.86,7.81,7.79,7.72,7.73,7.96,7.79,7.31,7.12,6.99,6.74,6.27,6.32,6.87,6.75,6.56,6.45,6.41,6.49,6.61,6.71,6.73,6.91,7.56,8.11
1,Afghanistan,AFG,10.65,10.82,10.72,10.73,11.18,10.96,10.78,10.80,10.81,10.81,10.81,11.26,11.14,10.99,11.22,11.10,11.30,11.09,11.31,11.35,11.05,11.34,11.19,11.14,11.13,11.16,11.18,11.15,11.22,11.71,13.28
2,Africa Western and Central,AFW,4.42,4.53,4.55,4.54,4.53,4.57,4.60,4.66,4.86,4.92,4.87,4.78,4.75,4.73,4.73,4.65,4.63,4.60,4.58,4.55,4.55,4.64,4.41,4.69,4.63,5.57,6.02,6.04,6.06,6.77,6.84
3,Angola,AGO,4.21,4.21,4.23,4.16,4.11,4.10,4.09,4.07,4.05,4.03,4.00,3.96,3.96,3.92,3.88,3.86,3.82,3.79,3.78,9.43,7.36,7.35,7.37,7.37,7.39,7.41,7.41,7.42,7.42,8.33,8.53
4,Albania,ALB,10.31,30.01,25.26,20.84,14.61,13.93,16.88,20.05,20.84,19.03,18.58,17.90,16.99,16.31,15.97,15.63,15.97,13.06,13.67,14.09,13.48,13.38,15.87,18.05,17.19,15.42,13.62,12.30,11.47,13.33,11.82

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 33 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_name  235 non-null    object
 1   country_code  235 non-null    object
 2   1991          235 non-null    float64
 3   1992          235 non-null    float64
 4   1993          235 non-null    float64
 5   1994          235 non-null    float64
 6   1995          235 non-null    float64
 7   1996          235 non-null    float64
 8   1997          235 non-null    float64
 9   1998          235 non-null    float64
 10  1999          235 non-null    float64
 11  2000          235 non-null    float64
 12  2001          235 non-null    float64
 13  2002          235 non-null    float64
 14  2003          235 non-null    float64
 15  2004          235 non-null    float64
 16  2005          235 non-null    float64
 17  2006          235 non-null    float64
 18  2007          235 non-null    float64
 19  2008          235 non-null    float64
 20  2009          235 non-null    float64
 21  2010          235 non-null    float64
 22  2011          235 non-null    float64
 23  2012          235 non-null    float64
 24  2013          235 non-null    float64
 25  2014          235 non-null    float64
 26  2015          235 non-null    float64
 27  2016          235 non-null    float64
 28  2017          235 non-null    float64
 29  2018          235 non-null    float64
 30  2019          235 non-null    float64
 31  2020          235 non-null    float64
 32  2021          235 non-null    float64
dtypes: float64(31), object(2)
memory usage: 60.7+ KB

None

In [11]:
# Sort values and display tail
unemployment_df.sort_values("country_name", inplace=True)
unemployment_df.tail(20)

,country_name,country_code,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
215,Tunisia,TUN,15.65,15.58,15.83,15.86,15.94,15.83,15.94,15.61,15.21,14.94,14.40,14.55,14.51,14.23,12.87,12.51,12.36,12.44,13.29,13.05,18.33,17.63,15.93,15.06,15.16,15.56,15.33,15.46,15.13,16.59,16.82
216,Turkiye,TUR,8.21,8.51,8.96,8.58,7.64,6.63,6.84,6.89,7.69,6.50,8.38,10.36,10.54,10.84,10.64,8.72,8.87,9.71,12.55,10.66,8.80,8.15,8.73,9.88,10.24,10.84,10.82,10.89,13.67,13.11,13.39
207,Turkmenistan,TKM,1.40,1.50,1.50,4.70,8.30,10.30,11.00,12.20,12.70,11.54,10.68,9.75,8.99,8.19,7.50,6.61,5.76,4.95,4.00,4.00,4.09,4.09,4.11,4.14,4.14,4.17,4.20,4.23,4.27,4.95,5.08
218,Uganda,UGA,0.94,0.92,1.16,1.42,1.65,1.92,2.21,2.47,2.71,3.03,3.27,3.50,3.60,2.75,1.90,2.29,2.73,3.15,3.60,3.59,3.51,3.55,1.91,1.91,1.91,1.92,1.93,1.92,1.92,2.77,2.94
219,Ukraine,UKR,1.90,1.90,2.00,2.00,5.62,7.65,8.93,11.32,11.86,11.71,11.06,10.14,9.06,8.59,7.18,6.81,6.35,6.36,8.84,8.10,7.85,7.53,7.17,9.27,9.14,9.35,9.50,8.80,8.19,9.13,8.88
6,United Arab Emirates,ARE,1.87,1.84,1.85,1.81,1.80,1.90,1.98,2.14,2.22,2.25,2.49,2.65,2.75,2.91,3.12,2.94,2.87,2.74,2.68,2.48,2.30,2.18,2.04,1.91,1.77,1.64,2.46,2.35,2.23,3.19,3.36
71,United Kingdom,GBR,8.55,9.78,10.35,9.65,8.69,8.19,7.07,6.20,6.04,5.56,4.70,5.04,4.81,4.59,4.75,5.35,5.26,5.62,7.54,7.79,8.04,7.88,7.52,6.11,5.30,4.81,4.33,4.00,3.74,4.47,4.53
222,United States,USA,6.80,7.50,6.90,6.12,5.65,5.45,5.00,4.51,4.22,3.99,4.73,5.78,5.99,5.53,5.08,4.62,4.62,5.78,9.25,9.63,8.95,8.07,7.37,6.17,5.28,4.87,4.36,3.90,3.67,8.05,5.46
220,Upper middle income,UMC,3.82,3.87,4.19,4.62,5.01,5.18,5.34,5.61,5.76,5.52,5.77,6.05,6.22,6.01,5.93,5.70,5.45,5.49,5.99,5.67,5.54,5.48,5.49,5.49,5.66,5.90,5.93,5.77,6.00,6.76,6.76
221,Uruguay,URY,8.95,8.96,8.35,9.04,10.02,11.93,11.44,9.36,10.47,12.63,15.05,16.65,16.66,12.98,12.01,10.84,9.40,8.03,7.74,7.16,6.31,6.45,6.44,6.55,7.49,7.84,7.89,8.34,8.88,10.35,10.45
223,Uzbekistan,UZB,1.90,2.90,4.90,7.30,7.80,10.70,10.90,13.30,13.30,12.23,11.20,10.15,9.11,8.19,7.09,6.03,4.99,4.89,5.00,5.40,5.00,4.90,4.90,5.10,5.20,5.20,5.80,5.84,5.85,7.04,7.16
228,Vanuatu,VUT,1.68,1.69,1.73,1.59,1.74,1.72,1.68,1.76,1.78,1.69,1.88,1.92,1.74,1.75,1.73,1.68,1.79,1.75,1.81,1.85,1.81,1.85,1.86,1.81,1.86,1.78,1.75,1.81,1.80,2.12,2.18
225,"Venezuela, RB",VEN,9.45,7.69,6.60,8.56,10.24,11.77,11.16,11.15,14.53,13.99,13.04,16.17,16.78,15.07,10.66,8.61,7.28,6.25,6.10,7.11,6.90,6.60,7.54,6.86,6.08,5.32,5.05,5.02,5.10,6.63,6.41
227,Vietnam,VNM,2.09,1.91,1.97,1.93,1.90,1.93,2.87,2.29,2.33,2.26,2.76,2.12,2.25,2.14,2.10,2.09,2.03,1.93,1.74,1.11,1.00,1.03,1.32,1.26,1.85,1.85,1.87,1.16,2.04,2.39,2.17
226,Virgin Islands (U.S.),VIR,12.35,12.51,12.70,12.47,12.13,12.21,12.12,11.86,11.50,11.11,11.08,11.19,11.36,11.05,10.96,10.41,10.19,10.31,11.58,11.73,12.08,12.23,12.76,12.79,12.62,12.68,12.32,12.43,12.47,13.55,13.27
172,West Bank and Gaza,PSE,11.60,11.31,11.29,11.15,11.10,11.03,10.83,10.72,10.64,10.63,21.49,27.46,23.00,23.21,20.02,19.01,18.28,22.91,20.45,21.42,17.60,19.20,19.89,20.53,23.00,23.94,25.68,26.26,25.34,25.89,24.90
229,World,WLD,4.80,4.96,5.23,5.49,5.63,5.70,5.70,5.86,5.97,5.77,5.86,6.07,6.16,6.00,5.90,5.63,5.42,5.41,6.01,5.90,5.77,5.74,5.73,5.60,5.62,5.66,5.56,5.39,5.36,6.57,6.18
231,"Yemen, Rep.",YEM,8.32,8.31,8.35,8.34,8.96,9.59,10.20,10.81,11.46,11.56,11.71,11.84,11.97,12.10,12.21,12.37,12.49,12.62,12.75,12.83,13.23,13.17,13.27,13.47,13.77,13.43,13.30,13.15,13.06,13.39,13.57
233,Zambia,ZMB,18.90,19.37,19.70,18.43,16.81,15.30,13.64,12.00,12.44,12.93,13.51,14.12,14.69,15.30,15.90,13.24,10.59,7.93,10.56,13.19,10.55,7.85,8.61,9.36,10.13,10.87,11.63,12.01,12.52,12.85,13.03
234,Zimbabwe,ZWE,4.94,4.99,4.97,4.96,5.63,6.25,6.93,6.46,6.00,5.69,5.36,5.06,4.75,4.39,4.54,4.68,4.83,5.01,5.08,5.21,5.37,5.15,4.98,4.77,4.78,4.79,4.78,4.80,4.83,5.35,5.17

In [12]:
# Create US unemployment df and display
unemployment_us = unemployment_df.loc[unemployment_df["country_name"] == "United States"]
unemployment_us

,country_name,country_code,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
222,United States,USA,6.8,7.5,6.9,6.12,5.65,5.45,5.0,4.51,4.22,3.99,4.73,5.78,5.99,5.53,5.08,4.62,4.62,5.78,9.25,9.63,8.95,8.07,7.37,6.17,5.28,4.87,4.36,3.9,3.67,8.05,5.46