In [28]:
# Import required libraries and dependencies
import pandas as pd
import hvplot.pandas

In [29]:
# Run US crime rates 1960 - 2014 notebook
%run crime_1960_2014.ipynb

,year,population,total,total_violent,total_nonviolent,murder,forcible_rape,robbery,aggravated_assault,burglary,larceny_theft,vehicle_theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                55 non-null     int64
 1   population          55 non-null     int64
 2   total               55 non-null     int64
 3   total_violent       55 non-null     int64
 4   total_nonviolent    55 non-null     int64
 5   murder              55 non-null     int64
 6   forcible_rape       55 non-null     int64
 7   robbery             55 non-null     int64
 8   aggravated_assault  55 non-null     int64
 9   burglary            55 non-null     int64
 10  larceny_theft       55 non-null     int64
 11  vehicle_theft       55 non-null     int64
dtypes: int64(12)
memory usage: 5.3 KB

None

In [30]:
# Run unemployment notebook
%run unemployment.ipynb

,country_name,country_code,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Africa Eastern and Southern,AFE,7.80,7.84,7.85,7.84,7.83,7.84,7.86,7.81,7.79,7.72,7.73,7.96,7.79,7.31,7.12,6.99,6.74,6.27,6.32,6.87,6.75,6.56,6.45,6.41,6.49,6.61,6.71,6.73,6.91,7.56,8.11
1,Afghanistan,AFG,10.65,10.82,10.72,10.73,11.18,10.96,10.78,10.80,10.81,10.81,10.81,11.26,11.14,10.99,11.22,11.10,11.30,11.09,11.31,11.35,11.05,11.34,11.19,11.14,11.13,11.16,11.18,11.15,11.22,11.71,13.28
2,Africa Western and Central,AFW,4.42,4.53,4.55,4.54,4.53,4.57,4.60,4.66,4.86,4.92,4.87,4.78,4.75,4.73,4.73,4.65,4.63,4.60,4.58,4.55,4.55,4.64,4.41,4.69,4.63,5.57,6.02,6.04,6.06,6.77,6.84
3,Angola,AGO,4.21,4.21,4.23,4.16,4.11,4.10,4.09,4.07,4.05,4.03,4.00,3.96,3.96,3.92,3.88,3.86,3.82,3.79,3.78,9.43,7.36,7.35,7.37,7.37,7.39,7.41,7.41,7.42,7.42,8.33,8.53
4,Albania,ALB,10.31,30.01,25.26,20.84,14.61,13.93,16.88,20.05,20.84,19.03,18.58,17.90,16.99,16.31,15.97,15.63,15.97,13.06,13.67,14.09,13.48,13.38,15.87,18.05,17.19,15.42,13.62,12.30,11.47,13.33,11.82

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 33 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_name  235 non-null    object
 1   country_code  235 non-null    object
 2   1991          235 non-null    float64
 3   1992          235 non-null    float64
 4   1993          235 non-null    float64
 5   1994          235 non-null    float64
 6   1995          235 non-null    float64
 7   1996          235 non-null    float64
 8   1997          235 non-null    float64
 9   1998          235 non-null    float64
 10  1999          235 non-null    float64
 11  2000          235 non-null    float64
 12  2001          235 non-null    float64
 13  2002          235 non-null    float64
 14  2003          235 non-null    float64
 15  2004          235 non-null    float64
 16  2005          235 non-null    float64
 17  2006          235 non-null    float64
 18  2007          235 non-null    float64
 19  2008          235 non-null    float64
 20  2009          235 non-null    float64
 21  2010          235 non-null    float64
 22  2011          235 non-null    float64
 23  2012          235 non-null    float64
 24  2013          235 non-null    float64
 25  2014          235 non-null    float64
 26  2015          235 non-null    float64
 27  2016          235 non-null    float64
 28  2017          235 non-null    float64
 29  2018          235 non-null    float64
 30  2019          235 non-null    float64
 31  2020          235 non-null    float64
 32  2021          235 non-null    float64
dtypes: float64(31), object(2)
memory usage: 60.7+ KB

None

   year  unemployment_rate
0  1991               6.80
1  1992               7.50
2  1993               6.90
3  1994               6.12
4  1995               5.65

    year  unemployment_rate
26  2017               4.36
27  2018               3.90
28  2019               3.67
29  2020               8.05
30  2021               5.46

In [31]:
# Reset index to year
unemployment_us_melt = unemployment_us_melt.set_index('year')
unemployment_us_melt.head()

      unemployment_rate
year
1991               6.80
1992               7.50
1993               6.90
1994               6.12
1995               5.65

In [32]:
# Show range of dates for unemployment data
unemployment_us_melt.index.min(), unemployment_us_melt.index.max()

('1991', '2021')

In [33]:
# Show range of dates for crime data
total_crimes.index.min(), crime_rates.index.max()

(1960, 2014)

In [34]:
# Show unemployment index
unemployment_us_melt.index

Index(['1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021'],
      dtype='object', name='year')

In [35]:
# Show crime index
total_crimes.index

Int64Index([1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970,
            1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981,
            1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992,
            1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
            2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014],
           dtype='int64', name='year')

In [36]:
# Convert index to string
total_crimes.index = total_crimes.index.astype(str)

In [37]:
# Convert columns to strings
total_crimes.columns = total_crimes.columns.astype(str)

In [38]:
# Concat crime and unemployment data
crime_unemployment = pd.concat([total_crimes, unemployment_us_melt], join='inner', axis=1)
crime_unemployment.tail(20)

      total_violent  total_nonviolent  unemployment_rate
year
1995       1.798790         12.063900               5.65
1996       1.688540         11.805300               5.45
1997       1.634770         11.558175               5.00
1998       1.531044         10.944590               4.51
1999       1.426044         10.208334               4.22
2000       1.425486         10.182586               3.99
2001       1.439480         10.437480               4.73
2002       1.423677         10.455277               5.78
2003       1.383676         10.442862               5.99
2004       1.360088         10.319386               5.53
2005       1.390745         10.174754               5.08
2006       1.418043          9.983568               4.62
2007       1.408337          9.843481               4.62
2008       1.392628          9.767915               5.78
2009       1.325896          9.337060               9.25
2010       1.251248          9.112625               9.63
2011       1.206031          9.052743               8.95
2012       1.217067          9.001992               8.07
2013       1.199684          8.650761               7.37
2014       1.197987          8.277829               6.17

In [39]:
# Plot unemployment and crime rates to compare
crime_unemployment_plot = crime_unemployment.hvplot(
    title = "Crime Unemployment Comparison",
    xlabel = "Year",
    ylabel = "Rate",
    width = 1000,
    height = 500,
    grid = True
)

#Display plot
crime_unemployment_plot

:NdOverlay   [Variable]
   :Curve   [year]   (value)

In [40]:
# Run inflation notebook
%run inflation.ipynb

,country_code,imf_country_code,country,indicator_type,series_name,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,note,unnamed:_59,unnamed:_60,unnamed:_61,unnamed:_62,unnamed:_63
0,ABW,314.0,Aruba,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.20,3.00,1.88,2.28,4.05,2.89,3.32,3.66,2.53,3.40,3.61,5.39,8.96,-2.14,2.08,4.32,0.63,-2.37,0.42,0.48,-0.89,-0.47,3.58,4.26,1.22,0.74,6.04,Annual average inflation,NaN,NaN,NaN,NaN,NaN
1,AFG,512.0,Afghanistan,Inflation,Headline Consumer Price Inflation,25.51,25.51,-12.52,-10.68,10.23,11.85,0.60,7.65,5.00,9.90,13.40,22.20,18.20,15.90,20.40,8.70,-2.10,18.40,27.50,71.50,47.40,43.80,58.19,33.99,20.01,14.00,14.01,14.01,14.01,14.01,0.00,-43.40,51.93,35.66,16.36,10.57,6.78,8.68,26.42,-6.81,2.18,11.80,6.44,7.39,4.67,-0.66,4.38,4.98,0.63,2.30,5.44,5.06,NaN,Annual average inflation,NaN,NaN,NaN,NaN,NaN
2,AGO,614.0,Angola,Inflation,Headline Consumer Price Inflation,7.97,5.78,15.80,15.67,27.42,29.00,80.70,69.01,48.46,101.30,46.71,1.39,1.83,1.83,1.83,1.83,1.83,1.83,1.83,1.83,1.83,85.26,299.10,1379.48,949.77,2672.23,4146.01,221.49,107.43,248.25,325.03,152.59,108.89,98.22,43.53,22.96,13.31,12.25,12.47,13.72,14.48,13.48,10.28,8.78,7.30,9.16,32.38,29.84,19.63,17.08,21.02,23.85,21.35,Annual average inflation,NaN,NaN,NaN,NaN,NaN
3,ALB,914.0,Albania,Inflation,Headline Consumer Price Inflation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.18,35.72,226.00,85.00,22.57,7.75,12.80,33.21,20.55,0.40,0.03,3.10,5.18,2.38,2.83,2.36,2.41,2.91,3.41,2.29,3.57,3.41,2.03,1.93,1.62,1.91,1.29,1.99,2.03,1.41,1.62,2.04,6.73,Annual average inflation,NaN,NaN,NaN,NaN,NaN
4,ARE,466.0,United Arab Emirates,Inflation,Headline Consumer Price Inflation,21.98,21.98,21.98,21.98,21.98,21.98,21.98,21.97,13.04,10.99,10.07,7.95,7.08,1.30,2.43,3.50,5.43,5.50,4.99,2.79,0.60,3.40,6.38,5.27,5.70,4.33,2.98,2.97,1.99,2.10,1.35,2.80,2.92,3.12,5.04,6.20,9.28,11.13,12.27,1.57,0.88,0.88,0.66,1.09,2.34,4.07,1.62,1.97,3.06,-1.93,-2.08,0.18,5.22,Annual average inflation,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 783 entries, 0 to 782
Data columns (total 64 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country_code      783 non-null    object
 1   imf_country_code  781 non-null    float64
 2   country           783 non-null    object
 3   indicator_type    783 non-null    object
 4   series_name       783 non-null    object
 5   1970              422 non-null    float64
 6   1971              428 non-null    float64
 7   1972              430 non-null    float64
 8   1973              430 non-null    float64
 9   1974              434 non-null    float64
 10  1975              434 non-null    float64
 11  1976              430 non-null    float64
 12  1977              427 non-null    float64
 13  1978              428 non-null    float64
 14  1979              428 non-null    float64
 15  1980              433 non-null    float64
 16  1981              451 non-null    float64
 17  1982              458 non-null    float64
 18  1983              464 non-null    float64
 19  1984              470 non-null    float64
 20  1985              466 non-null    float64
 21  1986              475 non-null    float64
 22  1987              482 non-null    float64
 23  1988              485 non-null    float64
 24  1989              483 non-null    float64
 25  1990              489 non-null    float64
 26  1991              507 non-null    float64
 27  1992              519 non-null    float64
 28  1993              536 non-null    float64
 29  1994              552 non-null    float64
 30  1995              559 non-null    float64
 31  1996              570 non-null    float64
 32  1997              575 non-null    float64
 33  1998              584 non-null    float64
 34  1999              591 non-null    float64
 35  2000              596 non-null    float64
 36  2001              610 non-null    float64
 37  2002              625 non-null    float64
 38  2003              629 non-null    float64
 39  2004              634 non-null    float64
 40  2005              646 non-null    float64
 41  2006              661 non-null    float64
 42  2007              671 non-null    float64
 43  2008              680 non-null    float64
 44  2009              686 non-null    float64
 45  2010              693 non-null    float64
 46  2011              687 non-null    float64
 47  2012              696 non-null    float64
 48  2013              715 non-null    float64
 49  2014              734 non-null    float64
 50  2015              735 non-null    float64
 51  2016              746 non-null    float64
 52  2017              737 non-null    float64
 53  2018              737 non-null    float64
 54  2019              728 non-null    float64
 55  2020              719 non-null    float64
 56  2021              706 non-null    float64
 57  2022              665 non-null    float64
 58  note              783 non-null    object
 59  unnamed:_59       19 non-null     object
 60  unnamed:_60       0 non-null      float64
 61  unnamed:_61       0 non-null      float64
 62  unnamed:_62       0 non-null      float64
 63  unnamed:_63       0 non-null      float64
dtypes: float64(58), object(6)
memory usage: 391.6+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 64 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country_code      5 non-null      object
 1   imf_country_code  5 non-null      float64
 2   country           5 non-null      object
 3   indicator_type    5 non-null      object
 4   series_name       5 non-null      object
 5   1970              4 non-null      float64
 6   1971              4 non-null      float64
 7   1972              4 non-null      float64
 8   1973              4 non-null      float64
 9   1974              4 non-null      float64
 10  1975              4 non-null      float64
 11  1976              4 non-null      float64
 12  1977              4 non-null      float64
 13  1978              4 non-null      float64
 14  1979              4 non-null      float64
 15  1980              4 non-null      float64
 16  1981              4 non-null      float64
 17  1982              4 non-null      float64
 18  1983              4 non-null      float64
 19  1984              4 non-null      float64
 20  1985              4 non-null      float64
 21  1986              4 non-null      float64
 22  1987              4 non-null      float64
 23  1988              4 non-null      float64
 24  1989              4 non-null      float64
 25  1990              4 non-null      float64
 26  1991              4 non-null      float64
 27  1992              4 non-null      float64
 28  1993              4 non-null      float64
 29  1994              4 non-null      float64
 30  1995              4 non-null      float64
 31  1996              4 non-null      float64
 32  1997              4 non-null      float64
 33  1998              4 non-null      float64
 34  1999              4 non-null      float64
 35  2000              4 non-null      float64
 36  2001              4 non-null      float64
 37  2002              4 non-null      float64
 38  2003              4 non-null      float64
 39  2004              4 non-null      float64
 40  2005              4 non-null      float64
 41  2006              4 non-null      float64
 42  2007              4 non-null      float64
 43  2008              4 non-null      float64
 44  2009              4 non-null      float64
 45  2010              4 non-null      float64
 46  2011              4 non-null      float64
 47  2012              4 non-null      float64
 48  2013              4 non-null      float64
 49  2014              5 non-null      float64
 50  2015              5 non-null      float64
 51  2016              5 non-null      float64
 52  2017              5 non-null      float64
 53  2018              5 non-null      float64
 54  2019              5 non-null      float64
 55  2020              5 non-null      float64
 56  2021              5 non-null      float64
 57  2022              5 non-null      float64
 58  note              5 non-null      object
 59  unnamed:_59       0 non-null      object
 60  unnamed:_60       0 non-null      float64
 61  unnamed:_61       0 non-null      float64
 62  unnamed:_62       0 non-null      float64
 63  unnamed:_63       0 non-null      float64
dtypes: float64(58), object(6)
memory usage: 2.6+ KB

series_name,Food Consumer Price Inflation,Headline Consumer Price Inflation,Official Core Consumer Price Inflation,Producer Price Inflation
year,,,,
1970,5.40,5.90,6.245934,3.61
1971,3.07,4.29,4.690000,3.33
1972,4.13,3.27,3.060000,4.41
1973,13.29,6.18,3.480000,13.14
1974,13.76,11.05,8.240000,18.81

series_name,Food Consumer Price Inflation,Headline Consumer Price Inflation,Official Core Consumer Price Inflation,Producer Price Inflation
year,,,,
2018,1.40,2.44,2.14,2.90
2019,0.89,1.81,2.19,1.69
2020,3.51,1.23,1.70,-2.12
2021,3.47,4.70,3.57,8.95
2022,11.35,8.00,6.22,7.91